<?xml version="1.0"?>
<!--
/**
 * Quickbooks Online Edition Module for Magento
 *
 * Developed by Xagax Solutions LLC (http://www.xagax.com)
 *
 * @copyright  Module Copyright (c) 2008 Xagax Solutions LLC (http://www.xagax.com)
 */
-->
<config>
  <modules>
    <Mage_Qboe>
      <version>0.1.0</version>
    </Mage_Qboe>
  </modules>
  <global>
    <models>
     <qboe>
        <class>Mage_Qboe_Model</class>
	  </qboe>
    </models>
    <events>
        <sales_order_invoice_save_after>
            <observers>
                <Mage_Qboe_sale_observer>
                    <type>singleton</type>
                    <class>Qboe/sale_observer</class>
                    <method>invoiceSaveAfter</method>
                </Mage_Qboe_sale_observer>
            </observers>
        </sales_order_invoice_save_after>
        <customer_save_before>
            <observers>
                <Mage_Qboe_sale_observer>
                    <type>singleton</type>
                    <class>Qboe/customer_observer</class>
                    <method>customerSaveBefore</method>
                </Mage_Qboe_sale_observer>
            </observers>
        </customer_save_before>
        <catalog_product_save_before>
            <observers>
                <Mage_Qboe_sale_observer>
                    <type>singleton</type>
                    <class>Qboe/catalog_observer</class>
                    <method>catalogProductSaveBefore</method>
                </Mage_Qboe_sale_observer>
            </observers>
        </catalog_product_save_before>
        <sales_order_creditmemo_save_after>
            <observers>
                <Mage_Qboe_sale_observer>
                    <type>singleton</type>
                    <class>Qboe/sale_observer</class>
                    <method>orderCreditmemo</method>
                </Mage_Qboe_sale_observer>
            </observers>
        </sales_order_creditmemo_save_after>
        <controller_action_postdispatch_adminhtml_sales_order_invoice_void>
        	<observers>
                <Mage_Qboe_sale_observer>
                    <type>singleton</type>
                    <class>Qboe/sale_observer</class>
                    <method>invoiceVoid</method>
                </Mage_Qboe_sale_observer>
            </observers>
        </controller_action_postdispatch_adminhtml_sales_order_invoice_void>
     </events>
    <resources>
      <qboe_setup>
        <setup>
          <module>Mage_Qboe</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </qboe_setup>
    </resources>
  </global>
  	<frontend>
    	<routers>
            <qboe>
                <use>standard</use>
                <args>
                    <module>Mage_Qboe</module>
                    <frontName>qboe</frontName>
                </args>
            </qboe>
        </routers>
    	<translate>
            <modules>
                <Mage_Qboe>
                    <files>
                        <default>Mage_Qboe.csv</default>
                    </files>
                </Mage_Qboe>
            </modules>
        </translate>
  	</frontend>
  	<adminhtml>
        <translate>
            <modules>
                <Mage_Qboe>
                    <files>
                        <default>Mage_Qboe.csv</default>
                    </files>
                </Mage_Qboe>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <qboe>
                                            <title>qboe</title>
                                        </qboe>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
        <qboe>
            <configu>
            	<enabled>1</enabled>
                <debug>1</debug>
                <ApplicationPath></ApplicationPath>
                <ConnectionTicket></ConnectionTicket>
                <ApplicationLogin></ApplicationLogin>
				<appID></appID>
				<Cert></Cert>
				<serviceid></serviceid>
				<appdata></appdata>
            </configu>
            <configu2>
            	<enabled>1</enabled>
                <debug>1</debug>
                <creditMemoAccount>Accounts Receivable</creditMemoAccount>
            </configu2>
            <configu3>
            	<enabled>1</enabled>
                <debug>1</debug>
                <salesReceiptAccount>Sales</salesReceiptAccount>
                <addDescription></addDescription>
                <salesAttibuteSet></salesAttibuteSet>
            </configu3>
             <configu4>
            	<enabled>1</enabled>
                <debug>1</debug>
                <depositAccount>Checking</depositAccount>
            </configu4>
            <configu5>
            	<enabled>1</enabled>
                <debug>1</debug>
                <discountsAccount>Discounts Given</discountsAccount>
            </configu5>
            <configu6>
            	<enabled>1</enabled>
                <debug>1</debug>
                <salesTaxAccount>Sales Tax Payable</salesTaxAccount>
            </configu6>
            <configu7>
            	<enabled>1</enabled>
                <debug>1</debug>
                <shippingAccount>Shipping Income</shippingAccount>
            </configu7>
        </qboe>
    </default>
</config>